[Unit]
Description=GygesLink — Ouverture iptables (Tor opérationnel)
After=gygeslink-tor.service
Requires=gygeslink-tor.service
PartOf=gygeslink-tor.service
BindsTo=gygeslink-tor.service

[Service]
Type=oneshot
RemainAfterExit=yes

ExecStart=/usr/local/bin/gygeslink-iptables.sh open
ExecStartPost=/usr/bin/conntrack -F
ExecStop=/usr/local/bin/gygeslink-iptables.sh close

[Install]
WantedBy=multi-user.target